* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  /*background: #EEE;*/
  background-image: url("/img/wall.jpg"); 
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

.grid-item > msg {
  visibility: hidden;
}

.grid-item--gigante > msg {
  visibility: visible;
}

.grid-item--width_sztaki { width: 312px; }
.grid-item--height_sztaki { height: 169px; }

.grid-item--width_dms { width: 170px; }
.grid-item--height_dms { height: 60px; }

.grid-item--width_elte { width: 140px; }
.grid-item--height_elte { height: 140px; }

.grid-item--width_praudit { width: 240px; }
.grid-item--height_praudit { height: 198px; }

.grid-item--width_ejg { width: 100px; }
.grid-item--height_ejg { height: 142px; }

.grid-item--width_bsi { width: 270px; }
.grid-item--height_bsi { height: 195px; }

.grid-item--width_bme { width: 453px; }
.grid-item--height_bme { height: 115px; }

.grid-item--gigante {
  width: 320px;
  height: 360px;
  background: #F90;
}

.grid-item:hover {
  background: #A2C;
  border-color: white;
  cursor: pointer;
}