    <div class="row">
        <a href="#page-top" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-up animated"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="img/profil.png" alt="repsitories image" width="100" height="100">
        </div>
        <div class="col-md-8">
             <p>Hi, My name is Ferenc Béres. I currently work as a software developer at the Datamining and Search Group of the Institute for Computer Science and Control, Hungarian Academy of Sciences (MTA SZTAKI).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!--img class="img-circle" src="fonts/rocket.svg" alt="carrier image" width="140" height="140"-->
            <h2>Carrier<img class="img-circle" src="fonts/rocket.svg" alt="carrier image" width="80" height="80"></h2>
            <p>My current job as well as my former trainee position is related to Information Technology.</p>
            <p><a class="btn btn-default" href="{{ .Site.BaseURL }}/carrier/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>Education<img class="img-circle" src="fonts/study.svg" alt="education image" width="80" height="80"></h2>
            <p>I graduated at Eötvös Loránd Universitiy as an applied mathematician. I am interested in datamining.</p>
            <p><a class="btn btn-default" href="{{ .Site.BaseURL }}/education/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>Repositories<img class="img-circle" src="fonts/drawer.svg" alt="repsitories image" width="80" height="80"></h2>
            <p>If you are interested in the projects I am working on, you can check out my github repositories.</p>
            <p><a class="btn btn-default" href="{{ .Site.BaseURL }}/repositories/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
        <a href="#roadmap" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>