		<div class="row">
            <a href="#roadmap" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-up animated"></i>
            </a>
        </div>
        <div class="row">
            <p>Feel free to email me to provide some feedback on my GitHub repositories or this website!<br> You can download an old Hungarian version of my curriculum vitae with the link below.<br> The updated English version is cooming soon!</p>
        </div>    
        <div class="row">
            <div class="contact-section">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact information</h2>
                    <p><a href="mailto:ferencberes91@gmail.com">ferencberes91@gmail.com</a></p>
                    <ul class="list-inline banner-social-buttons">
                        <!--li>
                            <a href="" class="btn btn-default btn-lg"><img src="{{ .Site.BaseURL }}/img/en.png"></img></i> <span class="network-name">CV</span></a>
                        </li-->
                        <li>
                            <a href="https://github.com/ferencberes" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="documents/Beres_Ferenc_CV.pdf" class="btn btn-default btn-lg"><img src="{{ .Site.BaseURL }}/img/hu.png"></img></i> <span class="network-name">CV</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
