      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="fonts/rocket.svg" alt="carrier image" width="140" height="140">
          <h2>Carrier</h2>
          <p>My current job as well as my former trainee position is related to Information Technology.</p>
          <p><a class="btn btn-default" href="/carrier/" role="button"><span class="glyphicons glyphicons-display"></span>View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="fonts/study.svg" alt="education image" width="140" height="140">
          <h2>Education</h2>
          <p>I graduated at Eötvös Loránd Universitiy as an applied mathematician. I am interested in datamining.</p>
          <p><a class="btn btn-default" href="/education/" role="button"><span class="glyphicons glyphicons-education"></span>View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="fonts/drawer.svg" alt="repsitories image" width="140" height="140"-->
          <h2>Repositories</h2>
          <p>If you are interested in the projects I am working on, you can check out my github repositories.</p>
          <p><a class="btn btn-default" href="/repositories/" role="button"><span class="glyphicons glyphicons-folder-open"></span>View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->