
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/masonry.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.7.1.min.js"></script>
  	<script src="action.js"></script>