    <div class="row">
        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-up animated"></i>
        </a>
    </div>
    <div class="row">
        <div class="grid">
            <div class="grid-item grid-item--width_sztaki grid-item--height_sztaki">
                <msg>Datamining and Search Group (DMS)</msg>
            </div>
            <div class="grid-item grid-item--width_elte grid-item--height_elte">
                <msg>Eötvös Lóránd University (MSc)</msg>
            </div>
            <div class="grid-item grid-item--width_praudit grid-item--height_praudit">
                <msg>Praudit</msg>
            </div>
            <div class="grid-item grid-item--width_elte grid-item--height_elte">
                <msg>Eötvös Lóránd University (BSc)</msg>
            </div>
            <div class="grid-item grid-item--width_ejg grid-item--height_ejg">
                <msg>Eötvös József Gimnázium</msg>
            </div>
            <div class="grid-item grid-item--width_bsi grid-item--height_bsi">
                <msg>BSI</msg>
            </div>
            <div class="grid-item grid-item--width_bme grid-item--height_bme">
                <msg>BME language exam</msg>
            </div>
            <div class="grid-item grid-item--width_dms grid-item--height_dms">
                <msg>Datamining and Search Group (DMS)</msg>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
