    <div class="row">
        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-up animated"></i>
        </a>
    </div>
    <div class="row">
        <p>This roadmap summarizes my carrier, education and skills. Links for more detailed information are shown by some of the cards.</p>
    </div>
    <div class="row">
        <div class="masonry-content">
            <div class="grid">
                <div class="grid-item bme">
                    <h2>PhD studies in Computer Science</h2>
                    <msg> Recently, I have started my PhD studies in Computer Science at Eötvös Loránd University (<a class="wlink" href="http://www.elte.hu/">ELTE</a>). My area of research is dynamic network analysis.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/carrier/sztaki-dms/" role="button">Read more &raquo;</a>
                </div>
                <div class="grid-item sztaki">
                    <h2>SZTAKI DMS Group Data Scientist</h2>
                    <msg> Since 2014, I have been working in the Datamining and Search Group (<a class="wlink" href="https://dms.sztaki.hu/">DMS</a>) <br> at <a class="wlink" href="https://www.sztaki.hu/mtasztaki/az_intezet/">SZTAKI</a> as a data scientist / software developer. In the last few years, I have been working on data mining projects.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/carrier/sztaki-dms/" role="button">Read more &raquo;</a>
                </div>
                <div class="grid-item msc">
                    <h2>Applied mathematics MSc</h2>
                    <msg>In 2015, I graduated as an applied mathematician at Eötvös Lóránd University (<a class="wlink" href="http://www.elte.hu/">ELTE</a>). My degree has a specialization in Computer Science.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/education/university-msc/" role="button">Read more &raquo;</a>
                </div>
                <div class="grid-item praudit">
                    <h2>Praudit trainee</h2>
                    <msg>Beside my university studies I had been working as a trainee at <br><a class="wlink" href="http://www.praudit.hu/">Praudit Kft.</a> for almost two years. During this time I got acquainted with databases and system logging.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/carrier/praudit-trainee/" role="button">Read more &raquo;</a>
                </div>
                 <div class="grid-item bsc">
                    <h2>Mathematics BSc</h2>
                    <msg>In 2013, I took my bachelor degree in Mathematics at <a class="wlink" href="http://www.elte.hu/">ELTE</a>. My degree has a specialization in Applied Mathematics.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/education/university-bsc/" role="button">Read more &raquo;</a>
                </div>
                <div class="grid-item prog_lang">
                    <h2>Programming Languages</h2>
                    <msg>During my work I regularly use the following programming languages: JAVA, C++, Python, Bash, SQL, HTML</msg>
                </div>
                <div class="grid-item distrib">
                    <h2>Distributed Systems</h2>
                    <msg>During my work at <a class="wlink" href="https://www.sztaki.hu/mtasztaki/az_intezet/">SZTAKI</a> I got acquainted with two Java based distributed framework: <br><a class="wlink" href="https://flink.apache.org/">Apache Flink</a>, <br><a class="wlink" href="http://giraph.apache.org/">Apache Giraph</a>, <br><a class="wlink" href="https://kafka.apache.org/">Apache Kafka</a>, <br><a class="wlink" href="https://spark.apache.org/">Apache Spark</a>.</msg>
                </div>
                <div class="grid-item bme">
                    <h2>English language exam</h2>
                    <msg>In 2008, I succesfully passed my intermediate English exam, which was certified by <a class="wlink" href="http://www.bmenyelvvizsga.bme.hu/">BME Language School</a>.</msg>
                </div>
                <div class="grid-item bsi">
                    <h2>BSI Running</h2>
                    <msg>In the last few years I regularly participated in running events as an employee at Budapest. <br>These events were organized by (<a class="wlink" href="http://www.futanet.hu/">BSI</a>).</msg>
                </div>
                <div class="grid-item ejg">
                    <h2>EJG secondary school</h2>
                    <msg>I attended to Eötvös József Gimnázium (<a class="wlink" href="http://www.ejg.hu/">EJG</a>) from 2006 to <br>2010. My class was specialized <br>in Mathematics and English.</msg>
                    <a class="btn" href="{{ .Site.BaseURL }}/education/secondary-school/" role="button">Read more &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
