{{ partial "header.html" . }}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{{ partial "home_navbar.html" . }}

	<!--header-->
	<header class="intro">
		{{ partial "intro.html" . }}
	</header>

	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		{{ partial "about.html" . }}
	</section>

	<!-- Roadmap Section -->
	<section id="roadmap" class="container content-section text-center">
		{{ partial "roadmap.html" . }}
	</section>

	<!-- Contact Section -->
	<section id="contact" class="container content-section text-center">
		{{ partial "contact.html" . }}
	</section>

<!-- Footer -->
{{ partial "footer.copyright.html" . }}

{{ partial "footer.html" . }}
